*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(130, 121, 121);
}
.div1
{
    color: red;
    background-color: rgb(206, 189, 6);
    width:200px;
    height: 200px;
    padding:40px;
    margin: 30px;
    border: 5px rgb(208, 35, 9) groove;


}